.main-nav {
  display: flex;
  margin: 0 15% 0 20%;
  width: 100vw;
}

.main-nav-li {
  display: flex;
  height: 45px;
  position: relative;
  width: calc(var(--width) / 8);
}

.nav-b {
  display: flex;
  font-size: 1.15em;
  font-weight: 700;
  left: 50%;
  transform: translate(-50%, -50%);
}