* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  --height: 100vh;
  --width: 100vw;
}
body {
  background-color: hsl(227, 70%, 12%);
}

body>header:first-of-type {
  background-color: hsl(196, 91%, 34%);
  display: flex;
  height: 90px;
  max-height: 90px;
  width: var(--width);
}

header:first-of-type>header {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  position: relative;
  width: calc(var(--width) / 3);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo-text {
  background: -webkit-linear-gradient(hsl(181, 100%, 45%), hsl(105, 95%, 78%));
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.6px hsl(227, 70%, 12%);
  user-select: none;
}

header:first-of-type>header>h1:first-of-type {
  right: 115px;
  top: 67%;
  z-index: 2;
}

header:first-of-type>header>h1 {
  right: 29%;
  top: 32%;
  z-index: 1;
}

header>nav {
  display: flex;
  margin-left: 18%;
  height: 100%;
  min-width: 40%;
}
header>nav>ul {
  display: flex;
  min-width: 100%;
}

header>nav>ul>li {
  display: flex;
  flex-direction: column;
  width: calc(100% / 1.3);
}

.nav-list {
  display: flex;
  position: relative;
}

.nav-a {
  display: flex;
  font-size: 1.4em;
  font-weight: 700;
  user-select: none;
}

.top-title {
  color:  hsl(105, 95%, 78%);
  font-size: 3em;
  text-shadow: 1px 1px 1px hsl(196, 91%, 34%);
  user-select: none;
  -webkit-text-stroke: 1.2px black;
}

.main-nav {
  display: flex;
  margin: 0 15% 0 20%;
  width: 100vw;
}

.main-nav-li {
  display: flex;
  height: 45px;
  position: relative;
  width: calc(var(--width) / 8);
}

.nav-b {
  display: flex;
  font-size: 1.15em;
  font-weight: 700;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circular-picture {
  border: .6em double white;
  border-radius: 100vh;
}

.md-photo {
  min-width: 160px;
  width: calc((var(--width) / 6) - 60px);
}

.personal-important {
  font-weight: 600;
  font-size: 1em;
}

aside {
  color:  hsl(105, 95%, 78%);
  text-align: center;
  text-shadow: 1px 1px 1px hsl(196, 91%, 34%), 0px -1px 1px hsl(181, 100%, 45%);
  width: calc(var(--width) / 6);
  -webkit-text-stroke: .7px black;
}

.personal-mid {
  font-weight: 500;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.nav-tabs {
  min-width: var(--width);
}

.m-left {
  margin-left: calc(var(--width) / 35);
}

.contents {
  display: grid;
  grid-template-areas:
    "title title"
    "text img"
    "table table"
    "video video";
  grid-template-columns: calc(var(--width) / 3.5) calc(var(--width) / 2.4);
  width: 80%;
}

.grids {
  display: grid;
  color: white;
}

.brachy-title {
  grid-area: title;
}
.table-img {
  grid-area: img;
  width: 100%;
}
.table-desc {
  grid-area: text;
}

.tablesss {
  font-size: 14px;
  grid-area: table;
}

table, th, td {
  border: .35px solid white;
  text-align: center;
}
td {
  padding: .3% 0;
}

.tzCenter {
  text-align: center;
}

#audio {
  display: hidden;
}

#video {
  display: block;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}